body{
    overflow: hidden;
}
.start-card{
    min-height:30%;
    min-width:30%;
    background-color:orange;
    transition: all 0.5s;
}
body.play{
    background-color: orange;
    transition: all 0.5s;
}
.start-cont{
    transition: all 0.5s;
}
.start-cont.invisible{
    display:none !important;
}
.main-game{
    display:none;
    opacity: 0;
    transition: all 0.5s;
}
.main-game.visible{
    display:block
}

.result-card{
    display:none;
    max-width:65%;
}
.result-card.visible{
    display:block;
}


@media (min-width:576px){
    .answers .btn{
        width:35%;
        font-size: 2em;
    }
    img{
        max-height:50%;
    }
    .result-card{
        max-width: 55%;
    }
    
}